@charset "UTF-8";

:root {
    --text-font: 'Roboto', sans-serif;
}
/*mobil*/
@media screen and (max-width: 480px) {
    .hidden-mobile {
        display: none!important;
        visibility: hidden!important;
        opacity: 0!important;
    }
}
/*desktop*/
@media screen and (min-width: 481px) {
    .hidden-desktop {
        display: none!important;
        visibility: hidden!important;
        opacity: 0!important;
    }
}

html, body{
    margin: 0;
    padding: 0;
}

.message {
    align-content: center;
    flex-direction: column;
    padding: 0rem;
    margin: 3rem 0rem 3rem 0rem;
}

.message input {
        background-color: #EEF0F2;
        border: none;
        color: rgb(68, 67, 67);
        padding: 13px;
        width: 290px;
        text-align: start;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

}

.message button {
        background-color: #FFE606;
        border: none;
        color: rgb(49, 49, 49);
        padding: 12px;
        width: 315px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
}

/* unvisited link */
a:link {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 23px;
}

/* visited link */
a:visited {
    color: rgb(167, 167, 167);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 23px;
}

/* mouse over link */
a:hover {
    color: #FFE606;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 23px;
}

    /* selected link */
a:active {
    color: #FFE606;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 23px;
}

img{
    width: 100%;
}

.bild{
    display: flex;
}







/*desktop*/
@media only screen and (min-width: 481px) {
html {
    font-size: 62.5%;
}

/* unvisited link */
a:link {
            color: white;
}

.message{
    margin-right: 2rem;
}

.logo{
    display: flex;
    justify-content: flex-start;
}

header{
    background-color: #3F3250;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header>ul{
    list-style-type: none;
    margin: 0 auto;
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
}

footer>ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: flex-end;
    list-style-type: none;
    font-family: var(--text-font);
    height: 100%;
    padding: 2rem;
    font-size: 23px;
    background-color: #C4C4C4;
    /*flex-basis: 20000rem;*/
}

footer > ul > li{
    margin-left: 4rem;
}

sub-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
    color: #12121B;
    height: 100%;
    width: 100%;
    background-color: #DAD8D8;
}

.profil {
    justify-content: flex-start;
    align-items: center;
    margin-left: 4rem;
    padding: 0rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #FFE606;
}

.text {
    text-align: center;
    align-content: center;
    font-size: 15px;
    font-family: var(--text-font);
    padding: 4rem
        /* hyphens: auto; 
        text-align: justify  
        - Blocksatz*/
}

footer>sub-footer>div>h2{
    margin: 0rem 0rem 0.5rem 0rem;
}
}







/*mobil*/
@media screen and (max-width: 480px) {

/* unvisited link */
a:link {
            color: black;
}

.logo{
    display: flex;
}

header{
    background-color: #3F3250;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
}

header>ul>li>a>h2{
    padding: 0;
    margin: 0;
}
header>ul{
    list-style-type: none;
    padding: 0rem;
}

div>div>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    margin: 0 auto;
    padding: 0rem;
    width: 100%;
    gap: 4.3rem;
}

div.background{
            background: url('Portfolio Pic mobile.jpeg');
            background-size: 100%;
}

div.transbox{
            background-color: #ffffff;
            opacity: 0.6;
            padding: 4.5rem 0rem 4.5rem 0rem;
}

footer>ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    list-style-type: none;
    font-family: var(--text-font);
    height: 100%;
    font-size: 23px;
    background-color: #C4C4C4;
    padding: 0rem;
}

footer > ul > li{
    margin: 0 auto;
    padding: 0.5rem 0rem 0.5rem 0rem;
}

sub-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    color: #12121B;
    height: 100%;
    width: 100%;
    background-color: #DAD8D8;
}

.profil {
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0rem 1rem 0rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #FFE606;
}

.text {
    text-align: center;
    align-content: center;
    font-size: 15px;
    font-family: var(--text-font);
    padding: 1rem 2rem 0rem 2rem
        /* hyphens: auto; 
        text-align: justify  
        - Blocksatz*/
}

footer>sub-footer>div>h2{
    margin: 0rem 0rem 0.5rem 0rem;
}
}


